{% extends 'base.html' %}
{% load pimlurMOOC_extras %}

{% block body %}

<div class="span9">
  <h2>Pimlurs - {{ category }}</h2>
  <div class="row-fluid">
    {% for pimlurMOOC in pimlurMOOC|getPimlurs:category %}
    <div class="span4">
      <h2>{{pimlurMOOC.name}}</h2>
      <p>{{ pimlurMOOC.description }}</p>
      <p>
        <form method="POST" action="{% url 'join_pimlur' %}">{% csrf_token %}
          <input type="hidden" name="pimlurId" value="{{pimlurMOOC.id}}"/>
          <button type="submit" class="btn" href="#">Join Pimlur »</button></p>
        </form>
    </div><!--/span-->
    {% endfor %}
    </div><!--/row-->
  </div>

{% endblock body %}
