{% extends 'base.html' %}
<!-- {% load pimlurMOOC_extras %} -->
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block body %}

<div class="span9">
  <h2>{{ pimlur.name}}</h2>
  <div class="row-fluid">
    <div id="content-singlepimluritem" class="row-fluid">
        {{ pimlurItem.quiz_content_html|safe }}
        <div id="quiz-result" class="card">
            You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
        </div>
        <div id="quiz">
          {% for key in quizQuestions %}
              <div class="card quizlib-question">
                  <div class="quizlib-question-title">{{ key.value }}</div>
                  <div class="quizlib-question-answers">
                    {% if key.question_type == "input" %}
                      <input type="text" name="q1">
                    {% elif key.question_type == "radio" or key.question_type == "checkbox" %}
                    <ul>
                      {% for option in key.options %}
                        <li><label><input type="{{ key.question_type}}" name="{{ key.id }}" value="{{ option.id }}"> {{ option.value }}</label></li>
                      {% endfor %}
                    </ul>
                    {% endif %}                    
                  </div>
              </div>
          {% endfor %}
          <button type="button" onclick="showResults();">Check Answers</button>
        </div>
        </div>
      <div class="btn-group">
        <a href="/dashboard/pimlurs/{{pimlur_id}}/{{pimlurcategory_id}}/{{pimluritem_id}}/wc"><button class="btn">Written content</button></a>
        <a href="/dashboard/pimlurs/{{pimlur_id}}/{{pimlurcategory_id}}/{{pimluritem_id}}/audio"><button class="btn">Audio</button></a>
        <a href="/dashboard/pimlurs/{{pimlur_id}}/{{pimlurcategory_id}}/{{pimluritem_id}}/quiz"><button class="btn btn-info">Quiz</button></a>
      </div>
      <div class="row justify-content-center flex-fill">
        <div class="">
          <div id="comments">
            {% get_comment_count for pimlurItem as comment_count %}
            {% if comment_count %}
            <H5 class="text-center">
              {% blocktrans count comment_count=comment_count %}
              There is {{ comment_count }} comment below.
              {% plural %}
              There are {{ comment_count }} comments below.
              {% endblocktrans %}
            </H5>
            {% endif %}
    
            {% if pimlurItem.allow_comments %}
            <div class="offset1 card card-block mt-4 mb-5">
              <div class="card-body">
                <h4 class="">Post your comment</h4>
                {% render_comment_form for pimlurItem %}
              </div>
            </div>
            {% else %}
            <h4 class="mt-4 mb-5 text-center text-secondary">Comments are disabled for this quote.</h4>
            {% endif %}
    
            {% if comment_count %}
            <div class="offset1">
              {% render_comment_list for pimlurItem %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div><!--/row-->
  </div>
  <style>
    #comments > div.card.card-block.mt-4.mb-5 {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    #comments > div.offset1.card.card-block.mt-4.mb-5 > div > form > div > div > input.btn.btn-secondary {
      display: none;
    }
  </style>

  <script>
/**
* Try this example at https://alpsquid.github.io/quizlib
*/

/**
* Try this example at https://alpsquid.github.io/quizlib
*/

var quiz;

function showResults() {
    // Check answers and continue if all questions have been answered
    if (quiz.checkAnswers()) {
        var quizScorePercent = quiz.result.scorePercentFormatted; // The unformatted percentage is a decimal in range 0 - 1
        var quizResultElement = document.getElementById('quiz-result');
        quizResultElement.style.display = 'block';
        document.getElementById('quiz-score').innerHTML = quiz.result.score.toString();
        document.getElementById('quiz-max-score').innerHTML = quiz.result.totalQuestions.toString();
        document.getElementById('quiz-percent').innerHTML = quizScorePercent.toString();

        // Change background colour of results div according to score percent
        if (quizScorePercent >= 75) quizResultElement.style.backgroundColor = '#4caf50';
        else if (quizScorePercent >= 50) quizResultElement.style.backgroundColor = '#ffc107';
        else if (quizScorePercent >= 25) quizResultElement.style.backgroundColor = '#ff9800';
        else if (quizScorePercent >= 0) quizResultElement.style.backgroundColor = '#f44336';
        
        // Highlight questions according to whether they were correctly answered. The callback allows us to highlight/show the correct answer
        quiz.highlightResults(handleAnswers);
    }
}

/** Callback for Quiz.highlightResults. Highlights the correct answers of incorrectly answered questions 
 * Parameters are: the quiz object, the question element, question number, correctly answered flag
 */
function handleAnswers(quiz, question, no, correct) {
    if (!correct) {
        var answers = question.getElementsByTagName('input');
        for (var i = 0; i < answers.length; i++) {
            if (answers[i].type === "checkbox" || answers[i].type === "radio"){ 
                // If the current input element is part of the correct answer, highlight it
                if (quiz.answers[no].indexOf(answers[i].value) > -1) {
                    answers[i].parentNode.classList.add(Quiz.Classes.CORRECT);
                }
            } else {
                // If the input is anything other than a checkbox or radio button, show the correct answer next to the element
                var correctAnswer = document.createElement('span');
                correctAnswer.classList.add(Quiz.Classes.CORRECT);
                correctAnswer.classList.add(Quiz.Classes.TEMP); // quiz.checkAnswers will automatically remove elements with the temp class
                correctAnswer.innerHTML = quiz.answers[no];
                correctAnswer.style.marginLeft = '10px';
                answers[i].parentNode.insertBefore(correctAnswer, answers[i].nextSibling);
            }
        }
    }
}

window.onload = function() {
    quiz = new Quiz('quiz', [
        {{ answers_html|safe }}
    ]);
};
</script>
{% endblock body %}
